/* 常规体 */
@font-face {
  font-family: "Sarasa Gothic SC";
  src: url("../fonts/chs/SarasaGothicSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* 粗体 */
@font-face {
  font-family: "Sarasa Gothic SC Bold";
  src: url("../fonts/chs/SarasaGothicSC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* 斜体 */
@font-face {
  font-family: "Sarasa Gothic SC Italic";
  src: url("../fonts/chs/SarasaGothicSC-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* 粗斜体 */
@font-face {
  font-family: "Sarasa Gothic SC BoldItalic";
  src: url("../fonts/chs/SarasaGothicSC-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* 常规体（繁） */
@font-face {
  font-family: "Sarasa Gothic TC";
  src: url("../fonts/cht/SarasaGothicTC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* 粗体（繁） */
@font-face {
  font-family: "Sarasa Gothic TC Bold";
  src: url("../fonts/cht/SarasaGothicTC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* 斜体（繁） */
@font-face {
  font-family: "Sarasa Gothic TC Italic";
  src: url("../fonts/cht/SarasaGothicTC-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* 粗斜体（繁） */
@font-face {
  font-family: "Sarasa Gothic TC BoldItalic";
  src: url("../fonts/cht/SarasaGothicTC-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}