/* 字体设置 */
/* 常规体（繁） */
@font-face {
  font-family: "Sarasa Gothic TC";
  src: url("../fonts/cht/SarasaGothicTC-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* 粗体（繁） */
@font-face {
  font-family: "Sarasa Gothic TC Bold";
  src: url("../fonts/cht/SarasaGothicTC-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 斜体（繁） */
@font-face {
  font-family: "Sarasa Gothic TC Italic";
  src: url("../fonts/cht/SarasaGothicTC-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* 粗斜体（繁） */
@font-face {
  font-family: "Sarasa Gothic TC BoldItalic";
  src: url("../fonts/cht/SarasaGothicTC-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

body,ul,li {
    list-style: none;
}

body {
    font-family: "Sarasa Gothic TC", "Sarasa Gothic TC Bold", "Sarasa Gothic TC Italic", "Sarasa Gothic TC BoldItalic";
    background-image: url("../img/background_paper.png");
}

a {
    text-decoration: none;
    color: black;
}

/* 主菜单 */
nav {
    width: 100%;
    height: 50px;
    background-color: black;
}

.lb {
    margin: 0px;
    width: 5000px;
}

.lb li {
    display: block;
    width: 130px;
    height: 50px;
    text-align: center;
    float: left;
}

.lb li a {
    display: block;
    width: 130px;
    height: 50px;
    line-height: 50px;
    color: white;
}

.lb li a:hover{
    background-color: white;
    color: black;
}

.img {
    width: 15%;
    height: 15%;
    border: 1px solid black;
    border-radius: 5px;
}

/* 子菜单样式 */
.lb li ul {
    padding: 0px;
    width: 130px;
    display: none;
}

.lb li:hover ul {
    display: block;
}

.lb li ul li {
    width: 130px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: white;
}

.lb li ul li:hover {
    background-color: white;
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.main-win {
    margin: 10px 100px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 5px;
    height: 1000px;
}

/* 版权声明 */
.Copyright {
    text-align: center;
}